@import "../../../styles/vars.scss";

.text {
    font-size: $font-size;
    margin-bottom: calc(#{$spacing-bace} * 1);
    text-align: justify;
}

.linkTitle {
    margin-top: calc(#{$spacing-bace} * 1);
    margin-bottom: calc(#{$spacing-bace} * 1);
    font-weight: 100;
}